ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-item {
    float: left;
}

li.nav_item a {
    display: block;
    padding: 8px;
    background-color: #111166;
    color: #eeeeff;
}

li.nav_item a:hover {
    background-color: #555599;
}